@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #d61f7b, #78024e);
}

header a, footer a {
  margin-left: 35px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: #ddd;
}

/* NAVBAR */
.navbar {
  display: flex;
  padding: 0 5px;
  max-width: 1300px;
  width: 100%;
  align-items: center;
  justify-content:space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo {
  background-color: #ffffff;
  border-radius: 3px;
  background-position: 0px;
  position:relative;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar .nav-name {
  display: block;
  position: relative;
  padding-right: 86px;
  animation: glowing 4s infinite;
  font-size: 18px;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px #78024e
  }
  50% {
    text-shadow: 0 0 20px #ffffff;
  }
  100% {
    text-shadow: 0 0 5px #78024e
  }
}

#donate a {  
  font-weight: bolder;
  animation: change 5s infinite;
}

@keyframes change {
  10% {
    text-decoration: 4px underline;
  }
  20% {
    text-decoration: 9px underline;
  }
  30% {
    text-decoration: 8px underline;
  }
  40% {
    text-decoration: 7px underline;
  }
  50% {
    text-decoration: 6px underline;
  }
  60% {
    text-decoration: 5px underline;
  }
  70% {
    text-decoration: 4px underline;
  }
  80% {
    text-decoration: 3px underline;
  }
  90% {
    text-decoration: 2px underline;
  }
  0%, 100% {
    text-decoration: 1px underline;
  }
}

.navbar .all-links #login {
  display: none;
}

.dropdown {
  position: absolute;
  display: block;
}

.dropdown-content {
  background-color: rgba(214, 31, 123, 0.9);
  border-radius: 5px;
  display: none;
  color: white;
  position: absolute;
  top: 80%;
  left: -30%;
  min-width: 235px;
  z-index: 1;
}

#menudown:hover {
  background-color: rgba(120, 2, 78, 0.9);
  outline: #bfbfbf 1px solid;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* SECTION SETUP*/
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
}

section h2 {
  font-size: 2rem;
  color:#d61f7b;
}

section > p {
  text-align: center;
  color:#78024e;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}

section.about {
  margin: 0 auto;
  max-width: 1200px;
}

section .cards .card {
  background: #fff;
  padding: 40px 15px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  width: calc(100% / 4 - 30px);
  text-align: center;
}

.cards .card p {
  padding: 0 15px;
  margin-top: 5px;
  color:#78024e;
}

h3 {
  color:#78024e;
}

hr {
  border: none;
  border-top: 1px solid #e5d7de;
}


/* HOMEPAGE SECTION */
.homepage {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../images/home-bg.jpg");
  background-position:center 100%;
  background-size: 165vh;
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage .content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homepage .content h2 {
  color: white;
}

.homepage .content .text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content .text p {
  padding: 0px 40px;
  font-style: italic;
  background-color: rgba(214, 31, 123, 0.5);
}


.content a {
  color: #d61f7b;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.content a:hover {
  color: #fff;
  background: rgba(255,255,255,0.3);
}

/* ABOUT SECTION */
.about {
  display: none;
}

.about .company-info {
  margin-top: 30px;
}

.about h3 {
  margin: 30px 0 10px;
  color:#d61f7b;
}


.about .team {
  text-align: left;
  width: 100%;
}

.about .team ul {
  padding-left: 20px;
}

.about .row {
  padding: 0 10px;
}

/* SERVICES SECTION */
.services {
  display: none;
}

.services .card img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 100%;
  object-fit: cover;
}

/* FACILITIES SECTION */
.facilities {
  display: none;
}

.facilities .card img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 100%;
  object-fit: cover;
}

/* FINANCE SECTION */
.finance form select {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;  
  font-size: 16px;
  outline: none;
  border: 1px solid #bfbfbf;  
  color: #7a7a7a;  
}

.finance button {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  margin: 0px 0px 20px 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background:#d61f7b;
  transition: 0.2s ease;
}

.finance button:hover {
  background: #78024e;
}

.finance .showPdf { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.finance fieldset {
  background-color: #ffffff;
}

.finance #pdfFieldset {
  display: none;
}

.finance #pdfViewer {
  display: none;
  overflow-y: auto;
  max-height: 100%; 
}

.finance #pdfWrapper {
  display: flex;
  flex-direction: column;
}

.finance .pdfPageWrapper {
  margin-bottom: 20px; 
}

@media screen and (max-width: 600px) {
  .finance #pdfViewer {
    max-width: 500px; 
    max-height: 500px;
  }
}
@media screen and (max-width: 500px) {
  .finance #pdfViewer {
    max-width: 340px;     
    max-height: 500px;
  }
}

/* CONTACT SECTION */
.contact .row {
  margin: 60px 0 90px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contact .row .col {
  padding: 0 10px;
  width: calc(100% / 2 - 50px);
}

.contact .col p {
  margin-bottom: 10px;
  color:#78024e;
}

.contact .col p i {
  color: #7a7a7a;
  margin-right: 10px;
}

.contact form input {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid #bfbfbf;
}

.contact #noTelp {
  width: 50%;
  margin-right: 10px;
}

.contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form select {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 45%;
  font-size: 16px;
  outline: none;
  border: 1px solid #bfbfbf;
  color: #7a7a7a;    
}

.contact form textarea {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  height: 150px;
  outline: none;
  resize: vertical;
  border: 1px solid #bfbfbf;
}

.contact form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background:#d61f7b;
  transition: 0.2s ease;
}

.contact form button:hover {
  background: #78024e;
}

/* FOOTER SECTION */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #d61f7b, #78024e);
  padding: 20px 0;
}

footer div {
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: #fff;
}

footer a {
  padding: 0;
}

/* RESPONSIVE */
@media screen and (max-width: 1234px) {

  .navbar .nav-name {
    font-size: 16px;
  }

  .navbar .all-links li {
    font-size: 12px;
  }
}

@media screen and (max-width: 1100px) {

  .navbar .nav-name {
    font-size: 16px;
  }

  .navbar .all-links li {
    font-size: 11px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    justify-content:space-around;
  }

  .navbar .all-links {
    position:fixed;
    right: -100%;
    width: 220px;
    display: block;
    height: 150vh;
    top: 70px;
    background-color: rgba(214, 31, 123, 0.9);
    border-radius: 0px 0px 5px 5px;
    transition: right 0.3s ease;
    max-height: 530px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .navbar .all-links li {
    font-size: 15px;
  }

  .navbar .nav-name {
    font-size: 20px;
  }

  .navbar .all-links li:hover {
    background-color: rgba(120, 2, 78, 0.9);
    outline: #bfbfbf 1px solid;
  }
    
  .navbar .all-links::-webkit-scrollbar {
    width: 0.1em;
  }

  .navbar #menu-toggler:checked~ .all-links {
    right: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  .navbar .all-links #login {
    display: block;
  }

  .all-links #donate {
    background-color: rgba(214, 31, 123, 1);
  }

  .dropdown-content {    
    background-color:rgba(241, 102, 172, 1);
    left: 12%;
    border-radius: 5px;
  }

  .dropdown-content #services:hover {    
    min-width: 100px;
    background-color: rgba(120, 2, 78, 0.9);
    border-radius: 5px;
  }
 
  section > p {
    text-align: center;
    color:#78024e;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 15px;
  }

  .content a {
    font-size: 15px;
    padding: 5px 10px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }

  footer a {
    height: 0;
  }
}


@media screen and (max-width: 420px) {
  body{
    min-width: 344px;
  }

  .navbar .all-links {
    width: 200px;
    height: 100vh;
    top: 63px;
    max-height: 500px;
  }

  .navbar .all-links li{
    font-size: 13px;
  }

  .navbar .nav-name {
    font-size: 16px;
  }

  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
}
